@font-face {
  font-family: "iconfont"; /* Project id 3457283 */
  src: url('iconfont.woff2?t=1655540487406') format('woff2'),
       url('iconfont.woff?t=1655540487406') format('woff'),
       url('iconfont.ttf?t=1655540487406') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e6ff";
}

.icon-yk_yuanquan_fill:before {
  content: "\e602";
}

.icon-round:before {
  content: "\e617";
}

.icon-sousuo:before {
  content: "\e616";
}

.icon-zhuce:before {
  content: "\e605";
}

.icon-denglu:before {
  content: "\e609";
}

.icon-yijianfankui3:before {
  content: "\e685";
}

.icon-yijianfankui:before {
  content: "\e672";
}

.icon-yijianfankui1:before {
  content: "\e7de";
}

.icon-houtaiguanli:before {
  content: "\e62d";
}

.icon-fanhuidingbu:before {
  content: "\e64a";
}

.icon-yingpan:before {
  content: "\e601";
}

.icon-gouwucheman:before {
  content: "\e603";
}

.icon-xuanzekuangmoren:before {
  content: "\e6c1";
}

.icon-huidingbu:before {
  content: "\e677";
}

.icon-xuanzekuangxuanzhong:before {
  content: "\e678";
}

.icon-ic_jiarugouwuche:before {
  content: "\e69c";
}

.icon-diannaojixiang-:before {
  content: "\e615";
}

.icon-dianyuan:before {
  content: "\e626";
}

.icon-gutaiyingpan:before {
  content: "\e628";
}

.icon-icon--shanchu:before {
  content: "\e621";
}

.icon-xingzhuang:before {
  content: "\e60c";
}

.icon-xingzhuang1:before {
  content: "\e60d";
}

.icon-xingzhuang2:before {
  content: "\e60e";
}

.icon-xingzhuang3:before {
  content: "\e60f";
}

.icon-xingzhuang4:before {
  content: "\e610";
}

.icon-xingzhuang5:before {
  content: "\e611";
}

.icon-guanbi:before {
  content: "\e612";
}

.icon-kefu:before {
  content: "\e613";
}

.icon-gouwuche:before {
  content: "\e608";
}

.icon-keyborad:before {
  content: "\e91c";
}

.icon-lcd:before {
  content: "\e92b";
}

.icon-CPU:before {
  content: "\e65e";
}

.icon-xuanzekuang:before {
  content: "\e614";
}

.icon-shubiao:before {
  content: "\e89d";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

