*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'iconfont';
    src: url('../../iconfont/iconfont.woff2') format('woff2'),
        url('../../iconfont/iconfont.woff') format('woff'),
        url('../../iconfont/iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.background {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(340deg, #FAEBCB, #d1e3ff);
    opacity: .6;
}

.back-to-index{
    position: absolute;
    left: 35px;
    top: 20px;
    width: 120px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    border: solid 3px #5487ff;
    border-radius: 20px;
    color: #333;
    font-size: 18px;
    font-weight: 800;
}

.back-to-index:hover{
    background-color: #5487ff;
    color: white;
}

.back-to-index>i{
    font-size: 22px;
    font-weight: 800;
    position: relative;
}

.choose-language{
    position: absolute;
    top: 20px;
    right: 40px;
}

.language-select{
    height: 30px;
    width: 120px;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 10px;
}

.login-window{
    position: fixed;
    background-color: white;
    width: 600px;
    height: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
}

.window-left{
    /* background-color: rgba(135, 207, 235, 0.8); */
    width: 40%;
    height: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: auto;
    float: left;
    position: absolute;
}

.welcome-login{
    color: rgba(0, 0, 0, 0.6);
    font-size: 36px;
    font-family: "微软雅黑";
    font-weight: 600;
    display: block;
    text-align: center;
    margin-top: 100px;
}

.user-info-filling{
    /* background-color: red; */
    width: 160px;
    height: 40px;
    position: relative;
    left: 0;
    right: 0;
    margin: 40px auto;
    text-align: center;
    line-height: 40px;
    border: 3px solid skyblue;
    background-color: rgb(153, 224, 235);
    border-radius: 40px;
    position: absolute;
}

.user-info-filling:hover .arrow{
    position: absolute;
    right: 5px;
    transition: all .2s;
}

.user-info-filling-text{
    font-size: 20px;
    color: white;
    font-weight: 600;
}

.arrow{
    display: inline-block;
    border: 3px solid white;
    height: 20px;
    width: 20px;
    font-size: 12px;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto 0;
    transition: right .2s;
}

.arrow1{
    display: block;
    position: relative;
    top: 9px;
    left: 3px;
    background-color: white;
    width: 8px;
    height: 0;
    border: white solid 1.5px;
}

.arrow2{
    display: block;
    height: 6px;
    width: 6px;
    transform: rotate(45deg);
    /* background-color: white; */
    position: relative;
    top: 3px;
    border: white solid 3px;
    border-left: none;
    border-bottom: none;
    left: 6px;
    z-index: 100;
}

.window-login{
    background-color: #ffe8be;
    position: absolute;
    top: -10%;
    right: 5%;
    width: 50%;
    height: 120%;
    float: left;
    z-index: 2;
    border-radius: 10px;
}

.register-logo{
    color: #333;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 100px;
    font-size: 28px;
    font-family: "微软雅黑";
}

.login-form{
    width: 220px;
    min-width: 200px;
    height: 35%;
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
}

.login-input{
    width: 200px;
    height: 35px;
    padding: 0 10px;
    left: 0;
    right: 0;
    font-size: 12px;
    font-family: "微软雅黑";
    font-weight: 600;
    border-radius: 10px;
    border: 0px solid rgba(255, 255, 255, 0);
    background-color: #ffe8be;
    font-size: 15px;
    transition: all .2s;
}

.choose-class>login-input{
    font-size: 12px;
    font-family: "微软雅黑";
    border: 0px solid rgba(255, 255, 255, 0);
    background-color: #ffe8be;
    font-size: 15px;
    transition: all .2s;
}

.login-input::-webkit-input-placeholder{
    color: #333;
}
.login-input:-moz-input-placeholder{
    color: #333;
}
.login-input::-moz-input-placeholder{
    color: #333;
}
.login-input:-ms-input-placeholder{
    color: #333;
}

.login-input:focus{
    background-color:#ffe8be;
    outline: none;
    /* border-bottom: 1px solid #eccbf1; */
    transition: all .2s;
}

.choose-gender{
    color: white;
    font-size: 15px;
    font-family: "微软雅黑";
    font-weight: 600;
    padding: 0 10px;
}

.login-button{
    height: 40px;
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 10px;
    border-width: 0;
    background-color: white;
    font-family: "微软雅黑";
    color: #333;
    font-size: 16px;
    font-weight: 800;
    transition: all .1s;
    cursor: pointer;
}

.brief-intro{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 60px;
    width: 200px;
    border: 0 solid white;
}

.login-button:hover{
    transform: scale(1.06);
    transition: all .1s;
}